#contact_modal {
    box-sizing: border-box;
    background-color: #fafafab0;
    width: 100%;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: scroll;

}
.modal {
}
.modal-off {
    display: none;
}
.modal-on {
    display: block;
    z-index: 25;
}

#main {
    padding-bottom: 100px;
}

.lightbox-gallery {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #FAFAFA;
}
.lightbox-off {
    z-index: -1;
    opacity: 0;
    transition: .4s ease-in;
    
}
.lightbox-on {
    z-index: 4;
    opacity: 1;
    transition: .4s ease-out;
}
.lightbox-gallery i {
    position: absolute;
    font-size: 2rem;
    color: #901C1C;
    cursor: pointer;
}
.lightbox-gallery i.fa-xmark {
    top: 2%;
    right: 2%;
}
.lightbox-gallery i.fa-arrow-left {
    top: calc(50% - 1rem);
    left: -5%;
}
.lightbox-gallery i.fa-arrow-right {
    top: calc(50% - 1rem);
    right: -5%;
}

.lightbox-content {
    position: relative;
}
.lightbox-content img, .lightbox-content video {
    max-height: 80vh;   
}

header {
    margin-top: 28px
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 0 100px;
    background-color: #FAFAFA;
}

.sorting select {
    height: 60px;
    margin-left: 20px;
    padding: 0 10px;
}
.sorting select option {
    height: 60px;
    background-color: #901C1C;
    color: #fff;
}

.photograph-content {
    margin: 0 100px;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    width: 100%;
    position: relative
}

.modal header img {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

.form_modal {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 25px;
    width: 100%;
    margin-top: 30px;
}

.form_modal label {
    color: #312E2E;
    font-size: 36px;
}

.sorting label {
    font-size: 1rem;
    font-weight: bold;
}

.form_modal div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
.form_modal div * {
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem;

}

.form_modal input {
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
}
.form_modal #message {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    resize: none;
    border: none;
    border-radius: 5px;
}
.content-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.content-gallery video, .content-gallery img, .content-gallery .img-bloc {
    width: 300px;
    height: 300px;
    background: #DB8876;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}
.content-gallery p, .lightbox-content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}
.gallery-flex {
    display: flex;
    justify-content: space-between;
}
.content-gallery .likes {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 1.5;
}
.total-likes__container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0 30px;
    background: #DB8876;
    position: fixed;
    right: 0;
    bottom: 0;
}